<div>  
    <b>
    <p class="text-red-700"><%= (listofelections.length==0)?"There is no Elections!":"" %></p>
</b>
    <ul class="list-none">
        <% for (let i=0; i<listofelections.length; i++) { %>
            <li>
                <div class="flex items-center w-fit my-2 px-2 py-1 rounded">
                    <h2  class="m-1 text-sm text-black-300 "><a href="/electionslist/<%=listofelections[i].id %>" class="m-2 text-sm text-black-600 "><%=i+1%>)<%= listofelections[i].electionName %> </a></h2>
                </div>
            </li>
        <% } %>
    </ul>
</div>